In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt\
%matplotlib inline

In [46]:
import warnings
warnings.filterwarnings(action = 'ignore')

### Preprocessing

- Train dataset

In [66]:
train = pd.read_csv('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt', sep = '\t')
train

              id                                           document  label
0        9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1        3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
...          ...                                                ...    ...
149995   6222902                                인간이 문제지.. 소는 뭔죄인가..      0
149996   8549745                                      평점이 너무 낮아서...      1
149997   9311800                    이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?      0
149998   2376369                        청춘 영화의 최고봉.방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[150000 rows x 3 columns]

In [67]:
train.shape

(150000, 3)

In [68]:
# 중복 여부 확인
train.document.nunique()

146182

In [69]:
# 중복 데이터 제거
train.drop_duplicates(subset = ['document'], inplace = True)
train.shape

(146183, 3)

In [70]:
train.isnull().sum()

id          0
document    1
label       0
dtype: int64

In [71]:
train = train.dropna(how = 'any')
train.shape

(146182, 3)

In [72]:
# Possitive, negative label distribution
train.label.value_counts()

0    73342
1    72840
Name: label, dtype: int64

- Test dataset

In [73]:
test = pd.read_csv('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt', sep = '\t')
test

            id                                           document  label
0      6270596                                                굳 ㅋ      1
1      9274899                               GDNTOPCLASSINTHECLUB      0
2      8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4      6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0
...        ...                                                ...    ...
49995  4608761          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  5308387       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO      0
49997  9072549                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다      0
49998  5802125     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네      0
49999  6070594                                         마무리는 또 왜이래      0

[50000 rows x 3 columns]

In [74]:
test.shape

(50000, 3)

In [75]:
test.document.nunique()

49157

In [76]:
test.drop_duplicates(subset = ['document'], inplace = True)
test.shape

(49158, 3)

In [77]:
test.isnull().sum()

id          0
document    1
label       0
dtype: int64

In [78]:
test = test.dropna(how = 'any')
test.shape

(49157, 3)

In [79]:
test.label.value_counts()

1    24711
0    24446
Name: label, dtype: int64

In [80]:
#한글, 공백 이외 제거
train['document'] = train.document.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')
train

              id                                           document  label
0        9976970                                  아 더빙 진짜 짜증나네요 목소리      0
1        3819312                         흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                          교도소 이야기구먼 솔직히 재미는 없다평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...      1
...          ...                                                ...    ...
149995   6222902                                    인간이 문제지 소는 뭔죄인가      0
149996   8549745                                         평점이 너무 낮아서      1
149997   9311800                      이게 뭐요 한국인은 거들먹거리고 필리핀 혼혈은 착하다      0
149998   2376369                         청춘 영화의 최고봉방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[146182 rows x 3 columns]

In [81]:
test['document'] = test.document.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')
test

            id                                    document  label
0      6270596                                         굳 ㅋ      1
1      9274899                                                  0
2      8544678            뭐야 이 평점들은 나쁘진 않지만 점 짜리는 더더욱 아니잖아      0
3      6825595                   지루하지는 않은데 완전 막장임 돈주고 보기에는      0
4      6723715   만 아니었어도 별 다섯 개 줬을텐데 왜 로 나와서 제 심기를 불편하게 하죠      0
...        ...                                         ...    ...
49995  4608761   오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  5308387    의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따       0
49997  9072549             그림도 좋고 완성도도 높았지만 보는 내내 불안하게 만든다      0
49998  5802125  절대 봐서는 안 될 영화 재미도 없고 기분만 잡치고 한 세트장에서 다 해먹네      0
49999  6070594                                  마무리는 또 왜이래      0

[49157 rows x 3 columns]

In [82]:
# 빈 리뷰는 nan 처리 후 제거
train['document'].replace('', np.nan, inplace = True)
test['document'].replace('', np.nan, inplace = True)
train.document.isnull().sum(), test.document.isnull().sum()

(391, 162)

In [83]:
train = train.dropna(how = 'any')
test = test.dropna(how = 'any')
train.shape, test.shape

((145791, 3), (48995, 3))

In [84]:
train.to_csv('naver_review_train.csv', sep = '\t')
test.to_csv('naver_review_test.csv', sep = '\t')

### Processing korean

In [85]:
from konlpy.tag import Okt
okt = Okt()

In [115]:
stopwords = ['은','는','이','가','에게','게','을','를','에','와','과','으로','도']

In [89]:
text = '진짜 재밌었어요! n차 관람 해야지'
okt.morphs(text)

['진짜', '재밌었어요', '!', 'n', '차', '관람', '해야지']

In [90]:
okt.morphs(text, stem = True)

['진짜', '재밌다', '!', 'n', '차', '관람', '하다']

In [91]:
from tqdm import tqdm_notebook  # 반복문 진행률을 나타냄

X_train = []
for i in tqdm_notebook(train.document) :
    morphs = okt.morphs(i, stem = True)
    temp_X = ' '.join([w for w in morphs if not w in stopwords])
    X_train.append(temp_X)

  0%|          | 0/145791 [00:00<?, ?it/s]

In [93]:
from tqdm import tqdm

X_test = []
for i in tqdm(test.document) :
    morphs = okt.morphs(i, stem = True)
    temp_X = ' '.join([w for w in morphs if not w in stopwords])
    X_test.append(temp_X)

100%|██████████| 48995/48995 [03:51<00:00, 211.99it/s]

In [96]:
y_train = train.label.values
y_test = test.label.values

Feature conversion, model learn / prediction / evaluation

In [97]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [98]:
cv = CountVectorizer()
cv.fit(X_train)
X_train_cv = cv.transform(X_train)
X_test_cv = cv.transform(X_test)

In [101]:
lr = LogisticRegression()
lr.fit(X_train_cv, y_train)
pred = lr.predict(X_test_cv)
accuracy_score(y_test, pred)

0.8258189611184815

### Does it really work?

In [116]:
r1 = '시간순삭영화! 입은 제대로 터지고, 스케일도 대박 커짐 ㅎㅎ'
r2 = '소문난 잔치에 먹을 거 없다'

In [117]:
r1 = r1.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')
r2 = r2.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')
r1, r2

('시간순삭영화! 입은 제대로 터지고, 스케일도 대박 커짐 ㅎㅎ', '소문난 잔치에 먹을 거 없다')

In [118]:
import re

r1 = re.sub('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '', r1)
r2 = r2.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '', r2)
r1, r2

('시간순삭영화 입은 제대로 터지고 스케일도 대박 커짐 ㅎㅎ', '소문난 잔치에 먹을 거 없다')

In [120]:
morphs = okt.morphs(r1)
review = ' '.join([w for w in morphs if not w in stopwords])
review

'시간 순삭 영화 입은 제대로 터지고 스케일 대박 커짐 ㅎㅎ'

In [121]:
review_cv = cv.transform([review])
pred = lr.predict(review_cv)
pred[0] # 1이 나와 긍정으로 평가

1

In [122]:
morphs = okt.morphs(r2)
review = ' '.join([w for w in morphs if not w in stopwords])
review

'소문난 잔치 먹을 거 없다'

In [123]:
review_cv = cv.transform([review])
pred = lr.predict(review_cv)
pred[0] # 0이 나와 부정으로 평가

0

In [128]:
reviews = ['감독 연출력이 이정도였나 싶음', '이 영화가 재밌다고 5점이나 주는 사람들이 신기할따름입니다 영화관가서 보실려고 고민중이라면 집에서 빙수하나 시키고 넷플릭스 아무거나 보실걸 강력추천 드립니다']
reviews = pd.Series(reviews)

In [139]:
dirw = []
for i in reviews :
    i = re.sub('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '', i)
    morphs = okt.morphs(i, stem = True)
    temp_X = ' '.join([w for w in morphs if not w in stopwords])
    dirw.append(temp_X)

In [140]:
dirw_cv = cv.transform(dirw)
pred = lr.predict(dirw_cv)
pred

array([0, 1])

### GridSearchCV로 최적 파라미터 찾기

In [141]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

In [142]:
pipeline = Pipeline([
    ('cv', CountVectorizer()),
    ('lr', LogisticRegression())
])

params = {
    'cv__ngram_range' : [(1, 1), (1, 2)],
    'cv__max_df' : [0.9, 0.99],
    'cv__min_df' : [1, 3],
    'lr__C' : [1, 5]
}

In [143]:
grid_pipe = GridSearchCV(pipeline, param_grid = params, cv = 3, scoring = 'accuracy', n_jobs = -1)

In [144]:
%%time
grid_pipe.fit(X_train, y_train)
print(grid_pipe.best_score_, grid_pipe.best_params_)

0.8413619496402385 {'cv__max_df': 0.9, 'cv__min_df': 1, 'cv__ngram_range': (1, 2), 'lr__C': 1}
CPU times: user 33.1 s, sys: 7.72 s, total: 40.9 s
Wall time: 1min 2s

In [146]:
pred = grid_pipe.best_estimator_.predict(X_test)
print(f'CounterVectorizer + LogisticRegression Accuracy : {accuracy_score(y_test, pred):.4f}')

CounterVectorizer + LogisticRegression Accuracy : 0.8462